/* --- Base --- */
@import "base/modern-normalize.css" layer(base);
@import "base/resets.css" layer(base);
@import "base/typography.css" layer(base);

@custom-media --sm-screen (width >= 30rem); /* 480px */
@custom-media --md-screen (width >= 40rem); /* 640px */
@custom-media --lg-screen (width >= 50rem); /* 800px */

html,
body {
    height: 100%;
}

header {
    position: relative;
    background: url("../images/main-bg.jpg") no-repeat scroll center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #fff;
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr auto;
}

.hgroup-wrapper {
    display: flex;
    padding: 3rem 1rem 1rem;
}

.hgroup {
    max-width: 27rem;
}

@media (--sm-screen) {
    .hgroup-wrapper {
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}

.hgroup a i {
    display: inline-block;
    background: url("../images/arrow.png") no-repeat;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 0.7rem;
}

header h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

header nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem;
    font-size: 0.95rem;
}

header a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:active {
        color: #ddd;
    }
}
