/* --- Base --- */
@import "base/modern-normalize.css" layer(base);
@import "base/resets.css" layer(base);
@import "base/typography.css" layer(base);

@custom-media --sm-screen (width >= 30rem); /* 480px */
@custom-media --md-screen (width >= 40rem); /* 640px */
@custom-media --lg-screen (width >= 50rem); /* 800px */

:root {
    --serif: baskerville, georgia, serif;
    --sans-serif: avenir, helvetica, sans-serif;
}

/* --- Header --- */
html,
body {
    height: 100%;
    font-family: var(--serif);
}

header {
    position: relative;
    background: url("../images/main-bg.jpg") no-repeat scroll center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #fff;
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr auto;
}

.hgroup-wrapper {
    display: flex;
    padding: 3rem 1rem 1rem;
}

.hgroup {
    max-width: 27rem;
}

.hgroup a i {
    display: inline-block;
    background: url("../images/arrow.png") no-repeat;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 0.7rem;
}

header h1 {
    font-family: var(--sans-serif);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

header nav ul,
#sticky-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

header nav ul li,
#sticky-nav ul li {
    text-transform: uppercase;
    font-family: var(--sans-serif);
    font-weight: bold;
    padding: 0.8rem;
    font-size: 0.95rem;
}

header a,
nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.1s;

    &:hover,
    &:active {
        color: #ddd;
    }
}

#sticky-nav {
    transition: top 0.2s;
    z-index: 10000000;
    position: fixed;
    top: -36px;
    left: 0;
    right: 0;
    background: rgb(0 0 0);
    background: rgb(0 0 0 / 90%);
}

#sticky-nav ul li {
    font-size: 0.8rem;
    padding: 0.7rem;
}

@media (--sm-screen) {
    .hgroup-wrapper {
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }

    #sticky-nav ul li {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
}

@media (--md-screen) {
    header nav ul li {
        font-size: 1rem;
    }
}

/* --- Section: General --- */

section {
    padding: 2rem 1rem;
}

section > h2 {
    font-size: 1.4rem;
    text-align: center;
}

section p,
section ol {
    font-size: 1.1rem;
    line-height: 1.4;
}

@media (--md-screen) {
    section {
        padding: 3rem;
    }

    section > h2 {
        font-size: 2rem;
    }

    section p,
    section ol {
        font-size: 1.4rem;
    }
}

@media (--lg-screen) {
    section {
        padding: 4rem 15%;
    }
}

/* --- Section: What we do --- */
#about {
    h3 {
        font-weight: bold;
    }

    ol {
        line-height: 1.4;
    }
}

/* --- Section: comment --- */
#comment {
    background: #000;
    text-align: center;

    & h2 {
        margin: 0;
        padding: 3rem 0;
        font-size: 4.4rem;
        font-style: italic;
        color: #fff;
    }

    & span {
        color: #7aff63;
    }
}

@media (--md-screen) {
    #comment h2 {
        font-size: 5rem;
        max-width: 23rem;
        margin: 0 auto;
    }
}

/* --- Section: specialist --- */
#specialist {
    ol {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

    ol li::before {
        display: block;
        text-align: center;
        font-size: 3rem;
    }

    ol li:nth-child(1)::before {
        content: "1";
    }

    ol li:nth-child(2)::before {
        content: "2";
    }

    ol li:nth-child(3)::before {
        content: "3";
    }

    ol li:nth-child(4)::before {
        content: "4";
    }
}

@media (--lg-screen) {
    #specialist ol {
        margin-top: 4rem;
        grid-template-columns: 1fr 1fr;
        font-size: 1.1rem;
        grid-gap: 2rem 1rem;
    }
}

/* --- Section: services --- */
#services {
    background-color: #f2eeea;

    h3 {
        text-align: center;
        font-size: 3rem;
    }

    h4 {
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (--md-screen) {
    #services {
        h4 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1.4rem;
            margin: 0 auto 3rem;
            max-width: 42rem;
        }
    }
}

/* --- Section: contact --- */
#contact {
    label {
        display: block;
        line-height: 1.6;
        font-size: 1rem;
    }

    form div {
        margin-bottom: 0.8rem;
    }

    div input,
    div textarea {
        display: block;
        width: 100%;
        transition: box-shadow 0.3s;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: inset 0 1px 3px rgb(0 0 0 / 6%);
        font-size: 1rem;
        padding: 0.5em;

        &:hover {
            border-color: #c4c4c4;
        }

        &:focus {
            box-shadow: inset 0 1px 3px rgb(0 0 0 / 6%), 0 0 5px rgb(55 112 192 / 70%);
            outline: none;
        }
    }

    form input[type="submit"] {
        background-color: #ddd;
        transition: background-color 0.1s;
        display: inline-block;
        padding: 0.5em 1.5em;
        font-size: 1rem;
        border: none transparent;
        border-radius: 2px;
        text-align: center;

        &:hover {
            background-color: #c4c4c4;
        }

        &:focus {
            box-shadow: inset 0 1px 3px rgb(0 0 0 / 6%), 0 0 5px rgb(55 112 192 / 70%);
            outline: none;
        }

        &:active {
            box-shadow: 0 0 0 1px rgb(0 0 0 / 15%) inset, 0 0 6px rgb(0 0 0 / 20%) inset;
        }
    }
}

@media (--md-screen) {
    #contact {
        form {
            max-width: 32rem;
            margin: 0 auto;
        }

        label {
            font-size: 1.1rem;
        }
    }
}

/* --- Footer --- */
footer {
    font-size: 0.9rem;
    background-color: #eee;
    padding: 1rem;
    text-align: center;
}
