/* --- Base --- */
@import "base/modern-normalize.css" layer(base);
@import "base/resets.css" layer(base);
@import "base/typography.css" layer(base);

@custom-media --sm-screen (width >= 30rem); /* 480px */
@custom-media --md-screen (width >= 40rem); /* 640px */
@custom-media --lg-screen (width >= 50rem); /* 800px */

/* --- Header --- */
html,
body {
    height: 100%;
    font-family: baskerville, serif;
}

header {
    position: relative;
    background: url("../images/main-bg.jpg") no-repeat scroll center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #fff;
    display: grid;
    min-height: 100%;
    grid-template-rows: 1fr auto;
}

.hgroup-wrapper {
    display: flex;
    padding: 3rem 1rem 1rem;
}

.hgroup {
    max-width: 27rem;
}

.hgroup a i {
    display: inline-block;
    background: url("../images/arrow.png") no-repeat;
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-right: 0.7rem;
}

header h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
}

header nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

header nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.8rem;
    font-size: 0.95rem;
}

header a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:active {
        color: #ddd;
    }
}

@media (--sm-screen) {
    .hgroup-wrapper {
        align-items: center;
        justify-content: center;
        padding: 1rem;
    }
}

@media (--md-screen) {
    header nav ul li {
        font-size: 1rem;
    }
}

/* --- Section: General --- */

section {
    padding: 2rem 1rem;
}

section > h2 {
    font-size: 1.4rem;
    text-align: center;
}

section p,
section ol {
    font-size: 1.1rem;
    line-height: 1.4;
}

@media (--md-screen) {
    section {
        padding: 3rem;
    }

    section > h2 {
        font-size: 2rem;
    }

    section p,
    section ol {
        font-size: 1.4rem;
    }
}

@media (--lg-screen) {
    section {
        padding: 4rem 15%;
    }
}

/* --- Section: What we do --- */
#about {
    h3 {
        font-weight: bold;
    }

    ol {
        line-height: 1.4;
    }
}

/* --- Section: comment --- */
#comment {
    background: #000;
    text-align: center;

    & h2 {
        margin: 0;
        padding: 3rem 0;
        font-size: 4.4rem;
        font-style: italic;
        color: #fff;
    }

    & span {
        color: #7aff63;
    }
}

@media (--md-screen) {
    #comment h2 {
        font-size: 5rem;
        max-width: 23rem;
        margin: 0 auto;
    }
}

/* --- Section: specialist --- */
#specialist {
    ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ol li {
        margin: 2rem 0;
    }
}
