ol,
ul {
    margin: 0;
    padding: 0;
}

ol {
    padding-left: 1.5rem;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
